<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>guliaygorod</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.6.55/css/materialdesignicons.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.min.css">
    <link rel="stylesheet" th:href="@{css_admin/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css_admin/fontawesome-stars.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{css_admin/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.min.css">
    <!-- endinject -->

    <link rel="shortcut icon" th:href="@{images/favicon.png}">
</head>
<body class="sidebar-dark">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav  class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:replace="~{fragments-admin/fragments :: header}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper" th:replace="~{fragments-admin/fragments :: theme-setting}"></div>
        <div th:replace="~{fragments-admin/fragments :: right-sidebar}"></div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="~{fragments-admin/fragments :: sidebar}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="border bg-white">
                                <div class="border-bottom pl-3 p-2 bg-light font-weight-bolder">All user</div>
                                <div class="p-3 table-responsive">
                                    <table class="table table-striped" id="myTable">
                                        <thead>
                                        <tr class="font-weight-bolder">
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${userList}">
                                            <th scope="row" th:text="${user.id}"></th>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.lastName}"></td>
                                            <td th:text="${user.age}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td>
                                                <span th:each="role : ${user.roles}" th:text="${role.name}"
                                                      class="pr-1"></span>
                                            </td>
                                            <td>
                                                <!-- Button trigger modal -->
                                                <button type="button"  class="buttonEdit btn btn-info" data-toggle="modal" data-target="#exampleModalEdit" th:data="${user.id}">
                                                    Edit
                                                </button>



                                            </td>
                                            <td class="deleteRow">
                                                <!--                                            <a th:href="@{/admin/delete/{id}(id = ${user.id})}">Delete</a>-->

                                                <button type="button" class="buttonDelete btn btn-danger" data-toggle="modal" data-target="#exampleModal1" th:data="${user.id}">
                                                    Delete
                                                </button>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer" th:replace="~{fragments-admin/fragments :: footer}"></footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<div th:replace="~{fragments-admin/fragments :: modal}"></div>
<!-- container-scroller -->

<!-- plugins:js -->
<script th:src="@{adminjs/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script th:src="@{adminjs/Chart.min.js}"></script>
<script th:src="@{adminjs/progressbar.min.js}"></script>
<script th:src="@{adminjs/bootstrap-datepicker.min.js}"></script>
<script th:src="@{adminjs/jquery.barrating.min.js}"></script>
<script th:src="@{adminjs/jquery.sparkline.min.js}"></script>
<script th:src="@{adminjs/raphael.min.js}"></script>
<script th:src="@{adminjs/morris.min.js}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script th:src="@{adminjs/off-canvas.js}"></script>
<script th:src="@{adminjs/hoverable-collapse.js}"></script>
<script th:src="@{adminjs/template.js}"></script>
<script th:src="@{adminjs/settings.js}"></script>
<script th:src="@{adminjs/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{adminjs/dashboard.js}"></script>
<!-- End custom js for this page-->
<script th:src="@{adminjs/custom_js_json.js}"></script>
<script th:src="@{adminjs/entryMainPage.js}"></script>
<script th:src="@{adminjs/offer.js}"></script>
<script th:src="@{adminjs/generalEntry.js}"></script>
<script th:src="@{adminjs/galery.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.0/js/bootstrap.js"  crossorigin="anonymous"></script>
</body>



</html>

