<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Кондиоционеры</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.6.55/css/materialdesignicons.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.min.css">
    <link rel="stylesheet" th:href="@{css_admin/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css_admin/fontawesome-stars.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{css_admin/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-line-icons@2.5.5/css/simple-line-icons.min.css">
    <!-- endinject -->

    <link rel="shortcut icon" th:href="@{images/favicon.png}">
</head>
<body class="sidebar-dark">
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav  class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" th:replace="~{fragments-admin/fragments :: header}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper" th:replace="~{fragments-admin/fragments :: theme-setting}"></div>
        <div th:replace="~{fragments-admin/fragments :: right-sidebar}"></div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:replace="~{fragments-admin/fragments :: sidebar}"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="container">
                    <h3>Банер</h3>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addBannerModal">
                        Добавить фото
                    </button>
                    <div class="row rowForAddBanner">
                        <div class="col-sm-4" th:each="banner : ${listBanner}">
                            <div class="card">
                                <img th:src="@{files/{id}(id=${banner.imageId})}" class="card-img-top" alt="...">

                                <div class="card-body">
                                    <p id="bannerAltImage" class="card-text"
                                       th:text="'Alt изображения :' + ${banner.altImage}">With
                                        supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <p id="bannerCaption" th:text="'Заголовок баннера: ' + ${banner.caption}"></p>
                                    <p id="bannerText" th:text="'Текст баннера: ' + ${banner.text}"></p>
                                    <div class="btn-group" role="group">
                                            <a href="#" class="btn_edit_banner btn btn-primary" data-toggle="modal"
                                               data-target="#editBanner" th:data="${banner.id}">Редактирование</a>


                                        <a href="#" class="btn btn-danger btnDeleteBanner" data-toggle="modal"
                                           data-target="#deleteBanner" th:data="${banner.id}">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h3>Преимущества</h3>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addAdvModal">
                        Добавить
                    </button>
                    <div class="row rowForAddBanner">
                        <div class="col-sm-4" th:each="adv : ${listAdvantage}">
                            <div class="card">
                                <div class="card-body">
                                    <p id="advCaption" th:text="'Заголовок : ' + ${adv.caption}"></p>
                                    <p id="advText" th:text="'Текст : ' + ${adv.text}"></p>
                                    <div class="btn-group" role="group">
                                        <a href="#" class="btn_edit_adv btn btn-primary" data-toggle="modal"
                                           data-target="#editAdv" th:data="${adv.id}">Редактирование</a>
                                        <a href="#" class="btn btn-danger btnDeleteAdv" data-toggle="modal"
                                           data-target="#deleteAdv" th:data="${adv.id}">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h3>Основная информация</h3>

                    <div class="row rowForAddBanner">
                        <div class="col-sm-4" th:each="info : ${mainInfo}">
                            <div class="card">
                                <div class="card-body">
                                    <p id="infoName" th:text="'Название сайта : ' + ${info.nameCompany}"></p>
                                    <p id="infoTel" th:text="'Телефон : ' + ${info.telephone}"></p>
                                    <p id="infoEmail" th:text="'email : ' + ${info.email}"></p>
                                    <p id="infoTime" th:text="'Режим работы : ' + ${info.timeWork}"></p>
                                    <p id="infoAbout" th:text="'О компании : ' + ${info.aboutCompany}"></p>

                                    <div class="btn-group" role="group">
                                        <a href="#" class="btn_edit_info btn btn-primary" data-toggle="modal"
                                           data-target="#editInfo" th:data="${info.id}">Редактирование</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">

                    <h3>Блок услуг</h3>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addOfferModal">
                        Добавить
                    </button>
                    <div class="row rowForAddBanner">
                        <div class="col-sm-4" th:each="offer : ${listOffer}">
                            <div class="card">
                                <img th:src="@{files/{id}(id=${offer.imageId})}" class="card-img-top" alt="...">

                                <div class="card-body">
                                    <p id="offerAltImage" class="card-text"
                                       th:text="'Alt изображения : '  + ${offer.altImage}">With
                                        supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <p id="offerCaption" th:text="'Заголовок услуги : ' + ${offer.caption}"></p>
                                    <p id="offerText" th:text="'Текст услуги : ' + ${offer.text}"></p>
                                    <div class="btn-group" role="group">
                                        <a href="#" class="btn_edit_offer btn btn-primary" data-toggle="modal"
                                           data-target="#editOffer" th:data="${offer.id}">Редактирование</a>


                                        <a href="#" class="btn btn-danger btnDeleteOffer" data-toggle="modal"
                                           data-target="#deleteOffer" th:data="${offer.id}">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <h3>FAQ</h3>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addFaqModal">
                        Добавить
                    </button>
                    <div class="row rowForAddBanner">
                        <div class="col-sm-4" th:each="faq : ${listFaq}">
                            <div class="card">
                                <div class="card-body">
                                    <p id="faqCaption" th:text="'Вопрос : ' + ${faq.caption}"></p>
                                    <p id="faqText" th:text="'Ответ : ' + ${faq.text}"></p>
                                    <div class="btn-group" role="group">
                                        <a href="#" class="btn_edit_faq btn btn-primary" data-toggle="modal"
                                           data-target="#editFaq" th:data="${faq.id}">Редактирование</a>
                                        <a href="#" class="btn btn-danger btnDeleteFaq" data-toggle="modal"
                                           data-target="#deleteFaq" th:data="${faq.id}">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer" th:replace="~{fragments-admin/fragments :: footer}"></footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<div th:replace="~{fragments-admin/fragments :: modal}"></div>
<!-- container-scroller -->
<div th:replace="~{fragments-admin/fragments :: script}"></div>
</body>



</html>

